.navbar {
    background-color: #34c94b;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 0px 32px;
    width: 100vw;

  

  }

  .give-feedback-btn {
    font-family: 'Poppins', sans-serif;
    color: #34c94b; 
  }

  /* .Logodiv {
    display: flex;
    margin: 14px;
  } */


  
  